body {
    background-color: grey;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    display: flex;
    justify-content: center;
    position: center;
    margin-bottom: 0;
}
.underrubrik {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

ul{
    display: flex;
    position: row;
    list-style-type: none;
    position: center;
    justify-content: center;
    
}

.box {
    border: 1px solid white;
    
}

li {
padding: 0 50px;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    color: red;
}